{% extends 'base/master.html' %}

{% block title %}
Preguntados
{% endblock %}


{% block content %}

{% for ask in asks %}
<div class="card bg-light mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <a href="{% url 'question-detail' ask.id %}">
                <h3 class="card-title">
                    {{ ask.title }}
                </h3>
            </a>
            <h5 class="card-title">
                {{ ask.author|default_if_none:"" }}
            </h5>
        </div>
        <p class="card-text">{{ ask.content|truncatechars:400 }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}