{% extends 'base/master.html' %}

{% block title %}
Mis Preguntas
{% endblock %}


{% block content %}

<div class="card bg-info mt-4">
    <div class="card-body">
        <h2 class="card-title">{{ user.username|upper }}</h2>
        <p class="card-text">{{ user.about_me|default_if_none:'Algo sobre mi' }}</p>
    </div>
</div>

{% for ask in asks %}
<div class="card bg-light mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">
                {{ ask.title }}
            </h3>
            <h5 class="card-title">
                {{ ask.author }}
            </h5>
        </div>
        <p class="card-text">{{ ask.content|truncatechars:400 }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}